


<div class="comment-box">
	 <div class="heading">
		<img src="./shiba2.jpg" alt="emy">
		
	 </div>
   			
		<div class="content">
			<div class="h-in">
			
	    	<div class="cont">
	    		<strong><a class="pull-left">{{comment.commentorUserName}} </a></strong>
	    	<small class="pull-right">{{comment.datePublished}}</small>
	    	<br>
	        </div  >
			<p>{{comment.content}}	</p>
			</div>
			<div class="c-f">
				
				
				
                <small>Likes : {{comment.likes}}   Dislikes : {{comment.dislikes}}</small>
                
			</div>
	
		</div>
</div>

	