.card {
  max-width: 100%;
  direction: rtl;
  margin-top: 20px;
}

.header-image {
  background-size: cover;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.rtl {
  direction: rtl;
  text-align: right;
}
.men {
  background-color: bckcolor;
}
.men1 {
  background-color: lightskyblue;
}

.img {
  height: 350px;
}
.textarea {
  height: 100px;
  margin-top: 30px;
  margin-left: 10px;
  max-width: 95%;
}
.material-icons {
  font-size: xx-large;
}

.container {
  max-width: 820px;
  margin: 0px auto;
  margin-top: 50px;
}

.comment {
  float: left;
  width: 100%;
  height: auto;
}

.commenter {
  float: left;
}

.commenter img {
  width: 35px;
  height: 35px;
}

.comment-text-area {
  float: left;
  width: 100%;
  height: auto;
}

.textinput {
  float: left;
  width: 100%;
  min-height: 75px;
  outline: none;
  resize: none;
  border: 1px solid grey;
  margin-top: 10px;
}
i{
  cursor: pointer;

}