<!--ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/blog">Blogs</a></li>
    <li>
        <a (click)="logout()">logout</a>
    </li>

    <img width="50" alt="Angular Logo" style="float: right;"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

</ul-->
<div *ngIf="blogs">
    <div class="row">
        <div class="col-md-8 offset-2" style="border:2px solid black;">
            <mat-card class="card">
                <!--mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title class="rtl">{{blogs.creatorName}}</mat-card-title>
                    <mat-card-subtitle class="rtl">{{blogs.title}}</mat-card-subtitle>
                    <mat-card-subtitle class="rtl">{{blogs.dateSubmitted}}</mat-card-subtitle>
                </mat-card-header-->
                <div>

                </div>

                <img class="img" mat-card-image [src]="img" alt="Photo">
                <div>
                    <mat-card>
                        <div class="row">
                            <div class="col-md-2">
                                <p>By: {{blogs.creatorName}}</p>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-3">
                                <p>Date: {{date}}</p>

                            </div>

                        </div>
                    </mat-card>
                </div>
                <mat-card-content class="rtl">
                    <div [innerHtml]="htmlContent">

                    </div>

                </mat-card-content>
                <mat-card-footer>
                    <h3> Likes : {{blogs.numLikes}} Dislikes : {{blogs.numDislikes}} Reports :
                        {{blogs.reportsCounter}}</h3>
                </mat-card-footer>
                <mat-card-actions>
                    <i class="material-icons" *ngIf="disliked==0" mat-button (click)="nbrDislike()">thumb_down_alt</i>
                    <i class="material-icons" *ngIf="disliked==1" mat-button (click)="nbrDislike()"
                        style="color:blue ;">thumb_down_alt</i>

                    <i class="material-icons" *ngIf="liked==0" mat-button (click)="nbrLike()">thumb_up_alt</i>
                    <i class="material-icons" *ngIf="liked==1" mat-button (click)="nbrLike()"
                        style="color: blue;">thumb_up_alt</i>

                    <!--button mat-button (click)="nbrL()" class="men">SHARE</button-->




                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-2 " style="border:2px solid black;">
            <h2 style="text-align: center;"> Enter a Comment</h2>

            <div class="col-md-8 offset-2" style="background-color: lightpink;">
                <div class="container">
                    <div class="comment">
                        <textarea class="textinput" placeholder="Enter your comment here...."
                            [(ngModel)]="commentContent"></textarea>
                    </div>
                </div>
                <button mat-raised-button color="primary" (click)="commentAdd()"
                    style="margin-left: 15px;margin-top: 5px;margin-bottom: 5px;">Send</button>
            </div>
            <div class="col-md-10 offset-1">
                <div *ngFor="let comment of commentlist">
                    <app-comment [comment]="comment">

                    </app-comment>
                    <i class="material-icons">thumb_up_alt</i>
                    <i class="material-icons">thumb_down_alt</i>
                    <i class="material-icons" *ngIf="comment.commentorId==userID"
                        (click)="commentDelete(comment._id,comment)">delete</i>
                </div>
            </div>
        </div>
    </div>
</div>