<div *ngIf="blogs">
    <div class="row">
        <div class="col-md-8 offset-2" style="border:2px solid black;">
            <mat-card class="card">

                <div>

                </div>

                <img class="img" mat-card-image [src]="img" alt="Photo">
                <div>
                    <mat-card>
                        <div class="row">
                            <div class="col-md-2">
                                <p>By: {{blogs.creatorName}}</p>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-3">
                                <p>Date: {{date}}</p>

                            </div>

                        </div>
                    </mat-card>
                </div>
                <mat-card-content class="rtl">
                        <div [froalaView]="htmlContent"></div>
                    

                </mat-card-content>
                <mat-card-footer class="rtl">
                    <h3>التقارير :
                        {{blogs.reportsCounter}} يكره : {{blogs.numDislikes}} الإعجابات : {{blogs.numLikes}}</h3>
                </mat-card-footer>
                <mat-card-actions class="rtl">
                    <i class="material-icons" *ngIf="report==0" mat-button (click)="confirmReport()">report_problem</i>
                    <i class="material-icons" *ngIf="report==1" mat-button (click)="confirmdeReport()"
                        style="color: red;">report_problem</i>

                    <i class="material-icons" *ngIf="disliked==0" mat-button (click)="nbrDislike()">thumb_down_alt</i>
                    <i class="material-icons" *ngIf="disliked==1" mat-button (click)="nbrDislike()"
                        style="color:red ;">thumb_down_alt</i>


                    <i class="material-icons" *ngIf="liked==0" mat-button (click)="nbrLike()">thumb_up_alt</i>
                    <i class="material-icons" *ngIf="liked==1" mat-button (click)="nbrLike()"
                        style="color: blue;">thumb_up_alt</i>


                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-2 " style="border:2px solid black;">
            <h2 style="text-align: center; direction: rtl;"> Enter a Comment</h2>

            <div class="col-md-8 offset-2" class="rtl" style="background-color: lightpink;">
                <div class="container">
                    <div class="comment">
                        <textarea class="textinput rtl" placeholder="Enter your comment here...."
                            [(ngModel)]="commentContent"></textarea>
                    </div>
                </div>
                <button mat-raised-button class="rtl" color="primary" (click)="commentAdd()"
                    style="margin-left: 15px;margin-top: 5px;margin-bottom: 5px;margin-right: 20px;">Send</button>
            </div>
            <div class="col-md-10 offset-1">
                <div *ngFor="let comment of commentlist" class="rtl">
                    <app-comment [comment]="comment">

                    </app-comment>


                    <i class="material-icons" *ngIf="comment.commentorId==userID || boss==0"
                        (click)="confirmDialog(comment._id,comment,'delete')">delete</i>
                </div>
            </div>
        </div>
    </div>
</div>