<!--ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/blog">Blogs</a></li>
    <li>
        <a (click)="logout()">logout</a>
    </li>
    <br>
    <br>
    <li><a href="/admin/listusers" style="align-self: center;">Users</a></li>
    <li><a href="/admin/listblogs">Blogs</a></li>
    <img width="50" alt="Angular Logo" style="float: right;"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

</ul-->

<div *ngIf="blogs" class="container" style="margin-top: 20px;">
    <button mat-raised-button color="primary" (click)="filterDialog()">Filter</button>
    <button mat-raised-button color="primary" (click)="searchDialog()">Search</button>
    <button *ngIf="searched=='true'" mat-raised-button color="primary" (click)="searchreset()">X</button>


    <div class="row rtl">
        <div *ngFor="let blog of blogs" style="border: 5px solid black;" class="rtl">
            <div class="rtl">
                <h4 *ngIf="blog.isApproved==false" style="background-color: red;">Approved:{{blog.isApproved}}
                </h4>
                <h4 *ngIf="blog.isApproved==true" style="background-color:green;">Approved:{{blog.isApproved}}
                </h4>

            </div>

            <div class="col-md-3">


                <app-blog-card [blog]="blog" routerLink="/blog/detail/{{blog._id}}"></app-blog-card>
            </div>
            <button *ngIf=" blog.isApproved==false" mat-raised-button color="primary" (click)="approve(blog._id)">
                Approve</button>

            <button mat-raised-button color="warn" (click)="confirmDialog(blog._id)">Delete</button>

            <button *ngIf="blog.status=='hidden'" mat-raised-button color="primary" (click)="statuss(blog._id)"
                class="rtl">Show</button>
            <button *ngIf="blog.status=='show'" mat-raised-button color="primary" (click)="statuss(blog._id)"
                class="rtl">Hide</button>
            <button *ngIf="blog.status=='edit'" class="rtl" mat-raised-button color="primary"
                (click)="statuss(blog._id)">Show</button>

            <button mat-raised-button color="primary" routerLink="/admin/editblog/{{blog._id}}">Edit</button>

            <div class="rtl">
                <h4 *ngIf="blog.status=='hidden'" style="background-color: red;">Status:{{blog.status}}</h4>
                <h4 *ngIf="blog.status=='edit'" style="background-color: yellow;">Status:{{blog.status}}</h4>
                <h4 *ngIf="blog.status=='show'" style="background-color:green;">Status:{{blog.status}}</h4>
                <h5>No of Reports : {{blog.reportsCounter}}</h5>
            </div>
            
        </div>
    </div>
</div>