<div>
    <div class="row">
        <div class="wrapper fadeInDown col-md-6 offset-3">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="container">
                    <div class="fadeIn first">
                        <h1 style="text-align: center;">Edit Account</h1>
                        <hr>
                    </div>
                    <div class="rt">
                        <div class="fadeIn second">

                            <mat-form-field class="form-group" appearance="">
                                <input matInput type="password" formControlName="password" id="password"
                                    placeholder="Password" class="form-control" minlength="8">

                                <span class="text-danger"
                                    *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.minlength">
                                    Password should contain more than 8 letters
                                </span>
                            </mat-form-field>

                            <mat-form-field class="form-group" appearance="">
                                <input matInput type="password" formControlName="repeatPassword" id="repeatPassword"
                                    placeholder="Repeate Password" class="form-control" minlength="8"
                                    [errorStateMatcher]="matcher">

                                <span
                                    *ngIf="(registerFormControl.repeatPassword.touched || submitted) && registerFormControl.repeatPassword.hasError('notSame')">
                                    Passwords do not match
                                </span>

                            </mat-form-field>


                        </div>
                        <div class="fadeIn third">

                            <div class="form-group" appearance="fill">
                                <div>
                                    <img type="image" *ngIf="selected==1" style="margin-left: 15px;"
                                        src="./assets/avatar1.jpg" alt="non" class="img"
                                        (click)="imageSelect('./assets/avatar1.jpg',1)"
                                        style="margin-left: 15px; border:3px solid gray; color: blueviolet;">
                                    <img type="image" *ngIf="selected!=1" style="margin-left: 15px;"
                                        src="./assets/avatar1.jpg" alt="non" class="img"
                                        (click)="imageSelect('./assets/avatar1.jpg',1)"
                                        style="margin-left: 15px; border:  gray; color: blueviolet;">
                                    <img type="image" *ngIf="selected==2" src="./assets/avatar2.jpg" alt="non"
                                        class="img" (click)="imageSelect('./assets/avatar2.jpg',2)"
                                        style="margin-left: 15px; border:3px solid gray; color: blueviolet;">
                                    <img type="image" *ngIf="selected!=2" src="./assets/avatar2.jpg" alt="non"
                                        class="img" (click)="imageSelect('./assets/avatar2.jpg',2)"
                                        style="margin-left: 15px; border: gray; color: blueviolet;">
                                    <img type="image" *ngIf="selected==3" src="./assets/avatar3.jpg" alt="non"
                                        class="img" (click)="imageSelect('./assets/avatar3.jpg',3)"
                                        style="margin-left: 15px; border:3px solid gray; color: blueviolet;">
                                    <img type="image" *ngIf="selected!=3" src="./assets/avatar3.jpg" alt="non"
                                        class="img" (click)="imageSelect('./assets/avatar3.jpg',3)"
                                        style="margin-left: 15px; border: gray; color: blueviolet;">
                                    <img type="image" *ngIf="selected==4" src="./assets/avatar4.jpg" alt="non"
                                        class="img" (click)="imageSelect('./assets/avatar4.jpg',4)"
                                        style="margin-left: 15px; border:3px solid gray; color: blueviolet;">
                                    <img type="image" *ngIf="selected!=4" src="./assets/avatar4.jpg" alt="non"
                                        class="img" (click)="imageSelect('./assets/avatar4.jpg',4)"
                                        style="margin-left: 15px; border: gray; color: blueviolet;">
                                    <!--input type="image" src="./assets/avatar5.jpg" alt="Submit" class="avatar"-->
                                </div>
                                <div>

                                    <img *ngIf="selected==6" type="image"
                                        style="margin-left: 15px; border:3px solid gray; color: blueviolet;"
                                        src="./assets/avatar6.jpg" alt="non" class="img"
                                        (click)="imageSelect('./assets/avatar6.jpg',6)">


                                    <img *ngIf="selected!=6" type="image"
                                        style="margin-left: 15px; border: gray; color: blueviolet;"
                                        src="./assets/avatar6.jpg" alt="non" class="img"
                                        (click)="imageSelect('./assets/avatar6.jpg',6)">


                                    <img type="image" *ngIf="selected==7" src="./assets/avatar7.jpg" alt="non"
                                        class="img" style="margin-left: 15px; border:3px solid gray; color: blueviolet;"
                                        (click)="imageSelect('./assets/avatar7.jpg',7)">
                                    <img type="image" *ngIf="selected!=7" src="./assets/avatar7.jpg" alt="non"
                                        class="img" style="margin-left: 15px; border: gray; color: blueviolet;"
                                        (click)="imageSelect('./assets/avatar7.jpg',7)">
                                    <img type="image" *ngIf="selected==8" src="./assets/avatar8.jpg" alt="non"
                                        class="img" style="margin-left: 15px; border:3px solid gray; color: blueviolet;"
                                        (click)="imageSelect('./assets/avatar8.jpg',8)">
                                    <img type="image" *ngIf="selected!=8" src="./assets/avatar8.jpg" alt="non"
                                        class="img" style="margin-left: 15px; border: gray; color: blueviolet;"
                                        (click)="imageSelect('./assets/avatar8.jpg',8)">
                                    <img type="image" *ngIf="selected==9" src="./assets/avatar9.jpg" alt="non"
                                        class="img" style="margin-left: 15px; border:3px solid gray; color: blueviolet;"
                                        (click)="imageSelect('./assets/avatar9.jpg',9)">
                                    <img type="image" *ngIf="selected!=9" src="./assets/avatar9.jpg" alt="non"
                                        class="img" style="margin-left: 15px; border: gray; color: blueviolet;"
                                        (click)="imageSelect('./assets/avatar9.jpg',9)">
                                    <!--input type="image" src="./assets/avatar10.jpg" alt="Submit" class="avatar"-->


                                </div>
                                <div *ngIf="errorImages==true">
                                    <span class="text-danger">
                                        Please Select a image
                                    </span>
                                </div>
                            </div>

                            <br>
                        </div>
                        <div class="form-group offset-2">
                            <button mat-raised-button class="registerbtn" type="submit">Update</button>

                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>