
<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>Title here</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <h1>Name</h1>
        </mat-card-subtitle>
        <img mat-card-image src="Pic here">

    </mat-card-header>
    <mat-card-content>
        ALL THE CONTENT GOES HERE .... MAYBE A LIMITED AMOUNT OF DISPLAY LIKE FIRST CHARACTERS
    </mat-card-content>
    <mat-card-footer>
        <h3>Courtesy oF Dani</h3>
    </mat-card-footer>
</mat-card>