<ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/blog">Blogs</a></li>
    <img width="50" alt="Angular Logo" style="float: right;"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

</ul>
<div class="col-md-10 offset-1">
    <mat-card class="card">
        <div class="img_div col-md-8 offset-4">

            <div *ngFor="let imgsrc of imgsrcs" class="img_div">

                <img [src]="imgsrc" alt="" height="150px" class="img_ele">
                <div class="img_overlay">
                    <div class="c">
                        <h1 class="text" (click)="removeImage(imgsrc)">remove</h1>
                    </div>

                </div>
            </div>
        </div>
        <mat-card-header class="col-md-4 offset-4">


            <mat-card-title>Add header image</mat-card-title>
        </mat-card-header>

        <button mat-raised-button color="primary" (click)="fileInput.click()" class="col-md-3 offset-8">Upload</button>
        <input hidden type="file" multiple #fileInput (change)="handleFileSelect($event)">
        <mat-card-content>
            <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>

        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="Publish()">Publish</button>

        </mat-card-actions>


    </mat-card>
</div>