.card {
  max-width: 100%;
  direction: rtl;
  margin-top: 20px;
}

.header-image {
  background-image: url("./shiba2.jpg");
  background-size: cover;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.rtl {
  direction: rtl;
}
.men {
  background-color: bckcolor;
}
.men1 {
  background-color: lightskyblue;
}

.img {
  height: 350px;
}
.textarea {
  height: 100px;
}
