<!--The content below is only a placeholder and can be replaced.-->
<ul>
    <li><a href="default.asp">Home</a></li>
    <li><a href="news.asp">Blogs</a></li>
    <img width="50" alt="Angular Logo" style="float: right;"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

</ul>

<mat-grid-list cols="8" rowHeight="fit" style="height:1000px">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>



    <mat-grid-tile colspan="2">

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="container">
                <h1 style="text-align: center;">Register</h1>
                <p style="text-align: center;">Please fill in this form to create an account.</p>
                <hr>


                <mat-form-field class="form-group" appearance="outline">

                    <input matInput type="text" formControlName="username" name="username" placeholder="اسم المستخدم"
                        class="form-control" required minlength="3" required />
                    <div class="text-danger" style="direction: rtl;"
                        *ngIf="(registerFormControl.username.touched || submitted) && registerFormControl.username.errors?.required">
                        <p required style="direction: rtl; text-align: right;">اسم المستخدم مطلوب</p>
                    </div>
                    <div class="text-danger"
                        *ngIf="registerFormControl.username.touched && registerFormControl.username.errors?.minlength">
                        UserName should contain more than 3 letters
                    </div>
                </mat-form-field>

                <mat-form-field class="form-group" appearance="outline">
                    <input matInput type="email" formControlName="email" name="email" placeholder="Email"
                        class="form-control" required type="email" required>
                    <span class="text-danger"
                        *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
                        Email is required
                    </span>
                    <span class="text-danger"
                        *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
                        Enter a valid email address
                    </span>
                </mat-form-field>

                <mat-form-field class="form-group" appearance="outline">
                    <input matInput type="password" formControlName="password" id="password" placeholder="Password"
                        class="form-control" required minlength="8" required>
                    <span class="text-danger"
                        *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
                        Password is required
                    </span>
                    <span class="text-danger"
                        *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.minlength">
                        Password should contain more than 8 letters
                    </span>
                </mat-form-field>

                <mat-form-field class="form-group" appearance="outline">
                    <input matInput type="password" formControlName="repeatPassword" id="repeatPassword"
                        placeholder="Repeate Password" class="form-control" required minlength="8"
                        [errorStateMatcher]="matcher" required>
                    <span class="text-danger"
                        *ngIf="(registerFormControl.repeatPassword.touched || submitted) && registerFormControl.repeatPassword.errors?.required">
                        Repeate Password is required
                    </span>
                    <span
                        *ngIf="(registerFormControl.repeatPassword.touched || submitted) && registerFormControl.repeatPassword.hasError('notSame')">
                        Passwords do not match
                    </span>

                </mat-form-field>



                <div class="form-group">
                    <select id="country" formControlName="country" style="direction: rtl;" class="form-control">
                        <option value="select" selected disabled>Country</option>
                        <option value="pak">Pakistan</option>
                        <option value="uk">United Kingdom</option>
                        <option value="usa">United States</option>
                        <option value="saudi">Saudia Arabia</option>
                    </select>
                    <span class="text-danger"
                        *ngIf="(registerFormControl.country.touched || submitted) && registerFormControl.country.errors?.required">
                        Country is required
                    </span>
                </div>
                <div class="form-group" appearance="fill">
                    <div>
                        <img type="image" style="margin-left: 15px;" src="./assets/avatar1.jpg" alt="non" class="avatar"
                            (click)="imageSelect('./assets/avatar1.jpg',1)">
                        <img type="image" src="./assets/avatar2.jpg" alt="non" class="avatar"
                            (click)="imageSelect('./assets/avatar2.jpg',2)">
                        <img type="image" src="./assets/avatar3.jpg" alt="non" class="avatar"
                            (click)="imageSelect('./assets/avatar3.jpg',3)">
                        <img type="image" src="./assets/avatar4.jpg" alt="non" class="avatar"
                            (click)="imageSelect('./assets/avatar4.jpg',4)">
                        <!--input type="image" src="./assets/avatar5.jpg" alt="Submit" class="avatar"-->
                    </div>
                    <div>
                        <div *ngIf="selected==6;else other_content">
                            <img type="image" style="margin-left: 15px; border: gray;" src="./assets/avatar6.jpg"
                                alt="non" class="avatar" (click)="imageSelect('./assets/avatar6.jpg',6)">
                        </div>
                        <ng-template #other_content><img type="image" style="margin-left: 15px;"
                                src="./assets/avatar6.jpg" alt="non" class="avatar"
                                (click)="imageSelect('./assets/avatar6.jpg',6)">
                        </ng-template>

                        <img type="image" src="./assets/avatar7.jpg" alt="non" class="avatar"
                            (click)="imageSelect('./assets/avatar7.jpg',7)">
                        <img type="image" src="./assets/avatar8.jpg" alt="non" class="avatar"
                            (click)="imageSelect('./assets/avatar8.jpg',8)">
                        <img type="image" src="./assets/avatar9.jpg" alt="non" class="avatar"
                            (click)="imageSelect('./assets/avatar9.jpg',9)">
                        <!--input type="image" src="./assets/avatar10.jpg" alt="Submit" class="avatar"-->


                    </div>
                    <div *ngIf="errorImages==true">
                        <span class="text-danger">
                            Please Select a image
                        </span>
                    </div>
                </div>

                <label for="vehicle1" style="margin-left: 10%; text-align: center;"> I agree to the Terms
                    and Conditions
                    <input type="checkbox" id="terms" name="terms" value="terms" style="margin-left: 10px;"
                        (click)="Checkbox()" required>
                </label>
                <div *ngIf="errorCheckbox==true">
                    <span class="text-danger">
                        Please tick the checkbox
                    </span>
                </div>
                <br>

                <div class="form-group">
                    <button class="registerbtn" type="submit">Register</button>

                </div>
            </div>

        </form>
    </mat-grid-tile>
</mat-grid-list>