/* .example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
} */
.content {
  padding: 10px;
  word-wrap: break-word;
  
}

.content > mat-card {
  width: 200px;
}
.mat-card{
  height:270px;
  border-radius: 20px;
  background-color:rgb(165, 211, 165) ;
}
.mat-card-image{
  height: 100px;
}
.mat-card-header{
  
}
.mat-card-actions{
  margin-top: 5px;
}

.rt{
  text-align: right;
  direction: rtl;
}
.mat-card-content{
  background-color: white;
  border-radius: 1px;
  border:darkslategray;
  border-style:double;
}